@media (min-width: 597px) {

    /* content */
    .content {
        max-width: 768px;
    }

    /* profile */
    .personal-info .profile-image {
        width: 250px;
        height: 250px;
    }

    /* aboutme */
    .aboutme .text {
        padding: 20px 15px;
        margin-bottom: 20px;
    }

    .aboutme .titleme {
        padding: 25px 0;
        margin-bottom: 30px;
    }

    .aboutme .text .title {
        font-size: 28px;
        font-weight: 700;
    }

    .aboutme .text .description {
        font-size: 22px;
        font-weight: 500;
    }

    /* skills */
    .skills {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .skills .item {
        margin: auto;
        width: 40vw;
        height: 40vw;
        max-width: 353px;
        max-height: 354px;
    }

    /* projects */
    .projects {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .projects .item {
        margin: auto;
        width: 40vw;
        height: 40vw;
        max-width: 353px;
        max-height: 354px;
    }

    .img-project {
        right: 20px;
        bottom: 20px;
    }

    .vertical,
    .vertical img {
        width: 162px;
        height: 264px;
    }

    .horizontal,
    .horizontal img {
        width: 264px;
        height: 162px;
    }

    .projects .item .technologies .tech {
        font-size: 50px;
    }
}