@media (min-width: 597px) {

    html {
        font-size: 65%;
    }

    .content {
        width: 597px;
        margin: 2rem auto 2rem auto;
    }

    .personal-info .profile-image {
        width: 20rem;
        height: 20rem;
    }

    .skills .item {
        height: 20rem;
    }

    .projects {
        
    row-gap: 3rem;
    }

    .projects .item {
        height: 27rem;
        opacity: .7;
    }

    .projects .item:hover {
        opacity: 1;
    }

    .projects .item .title {
        padding: .8rem 0;
    }
}