/* body */

body {
    background-color: var(--cor-background-primary);
    color: var(--cor-primary);
    width: 100vw;
    min-height: 100vh;
}

/* content */

.content {
    width: 100%;
    border-top: 1px solid var(--cor-primary);
    border-bottom: 1px solid var(--cor-primary);
    margin: 10px auto;
    padding: 20px 0;
    position: relative;
}

/* profile */

.personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.personal-info .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.personal-info .profile-image img {
    width: 100%;
}

.personal-info .profile-name {
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.personal-info .profile-name::after {
    content: '|';
    position: absolute;
    animation: changeOpacity .7s infinite;
}

@keyframes changeOpacity {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

.personal-info .profission {
    font-size: 18px;
    color: var(--cor-secondary);
}

.personal-info .social {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.personal-info .social a {
    display: inline-block;
    font-size: 25px;
    padding: 5px 8px;
    color: var(--cor-primary);
}

.personal-info .social a:hover {
    color: inherit;
}

/* menu */

.menu {
    margin: 20px auto;
    padding: 0 15px;
    width: 340px;
    height: 50px;
    border: 1px solid var(--cor-primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-background-secondary);
    position: relative;
}

#selected {
    position: absolute;
    left: 15px;
    width: 90px;
    height: 35px;
    background-color: var(--cor-background-item);
    z-index: 1;
    border-radius: 15px;
    transition: all .5s linear;
}

.menu .item {
    display: inline-block;
    width: 90px;
    height: 35px;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    z-index: 2;
    cursor: pointer;
}

/* about me */

.aboutme {
    width: 90%;
    margin: auto;
    background: url(../images/background-me.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

.aboutme .background-opacity {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 20px;
}

.aboutme .text {
    display: inline-block;
    background-color: var(--cor-aboutme-text-background);
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.aboutme .titleme {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.aboutme .text .title {
    font-size: 22px;
    font-weight: 700;
}

.aboutme .text .description {
    font-size: 18px;
    font-weight: 500;
}

/* skills */

.skills {
    display: none;
    width: 100%;
    padding-bottom: 40px;
    transition: all .5s linear;
}

.skills .item {
    margin: 0 auto 20px auto;
    width: 80vw;
    max-width: 550px;
    height: 80vw;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-background-secondary);
    border-radius: 5px;
}

.skills .item .name-skill {
    font-size: 27px;
    font-weight: 700;
}

.skills .item .icon-skill {
    font-size: 60px;
}

.skills .item .level-skill {
    font-size: 15px;
    color: var(--cor-secondary);
}

/* projects */

.projects {
    width: 100%;
    padding-bottom: 40px;
    transition: all .5s linear;
    display: none;
}

.projects .item {
    margin: 0 auto 20px auto;
    width: 80vw;
    max-width: 550px;
    height: 80vw;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: url(../images/background-project.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--cor-background-secondary);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    animation: shadow 4s linear infinite; 
}

.projects .item .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
    background-color: var(--cor-background-item);
    margin-bottom: 10px;
}

.img-project {
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    right: 10px;
    bottom: 10px;
    animation: shadow 4s linear infinite;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.vertical {
    height: 70%;
    width: 45%;
}

.horizontal {
    width: 75%;
    height: 45%;
}

.vertical img,
.horizontal img {
    width: 100%;
    height: 100%;
}

.projects .item .technologies {
    align-self: flex-start;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--cor-technologies-background);
}

.projects .item .technologies .tech {
    font-size: 40px;
}

.horizontaltech {
    flex-direction: row;
}

.verticaltech {
    flex-direction: column;
}