/* zerando css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* config css */
:root {
    --cor-background-primary: rgb(4, 5, 23);
    --cor-background-secondary: rgb(17, 19, 41);
    --cor-primary: #fff;
    --cor-secondary: rgb(140, 140, 160);
    --cor-background-item: rgb(13, 107, 196);
}

/* formatando css */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor-background-primary);
    color: var(--cor-primary);
    width: 100vw;
    min-height: 100vh;
}

/* content */

.content {
    width: 100%;
    border-top: 1px solid var(--cor-primary);
    border-bottom: 1px solid var(--cor-primary);
    margin: 10px 0 10px 0;
    padding: 20px 0;
}

/* profile */

.personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.personal-info .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.personal-info .profile-image img {
    width: 100%;
}

.personal-info .profile-name {
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.personal-info .profile-name::after {
    content: '|';
    position: absolute;
    animation: changeOpacity .7s infinite;
}

@keyframes changeOpacity {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

.personal-info .profission {
    font-size: 18px;
    color: var(--cor-secondary);
}

.personal-info .social {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.personal-info .social a {
    display: inline-block;
    font-size: 25px;
    padding: 5px 8px;
    color: var(--cor-primary);
}

.personal-info .social a:hover {
    color: inherit;
}

/* menu */

.menu {
    margin: 20px auto 0;
    padding: 0 15px;
    width: 340px;
    height: 50px;
    border: 1px solid var(--cor-primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-background-secondary);
    position: relative;
}

#selected {
    position: absolute;
    left: 15px;
    width: 90px;
    height: 35px;
    background-color: var(--cor-background-item);
    z-index: 1;
    border-radius: 15px;
    transition: all .5s linear;
}

.menu .item {
    display: inline-block;
    width: 90px;
    height: 35px;
    font-size: 17px;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    z-index: 2;
    cursor: pointer;
}

/* skills */

.skills {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 40px;
    transition: all .5s linear;
    display: none;
}

.skills .item {
    margin: 20px auto 0;
    width: 80vw;
    max-width: 550px;
    height: 80vw;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-background-secondary);
    border-radius: 5px;
}

.skills .item .name-skill {
    font-size: 27px;
}

.skills .item .icon-skill {
    font-size: 60px;
}

.skills .item .level-skill {
    font-size: 15px;
    color: var(--cor-secondary);
}

/* projects */

.projects {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 40px;
    transition: all .5s linear;
    display: none;
}

.projects .item {
    margin: 40px auto 0;
    width: 80vw;
    max-width: 550px;
    height: 80vw;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: url(../images/background-project.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--cor-background-secondary);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    animation: shadow 4s linear infinite; 
}

.projects .item .title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
    background-color: var(--cor-background-item);
    margin-bottom: 10px;
}

.img-project {
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    right: 10px;
    bottom: 10px;
    animation: shadow 4s linear infinite;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.vertical,
.vertical img {
    width: 125px;
    height: 204px;
}

.horizontal,
.horizontal img {
    width: 204px;
    height: 125px;
}

.projects .item .technologies {
    align-self: flex-start;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    background-color: rgba(1, 1, 1, .8);
}

.projects .item .technologies .tech {
    font-size: 40px;
}

.horizontaltech {
    flex-direction: row;
}

.verticaltech {
    flex-direction: column;
}